.page {
 margin: 0 auto;
 max-width: 1280px;
 min-width: 320px;
 font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
 background-color: #000;
 color: #fff;
 min-height: 100vh;
 flex-direction: column;
 -webkit-tap-highlight-color: transparent;
}