.element__image {
 width: 100%;
 height: 100%;
 object-fit: cover;
 cursor: pointer;
 transition: .6s;
  }
  
.element__image:hover {
 transition: .6s;
 transform: scale(1.05) translateY(-7px);
}