.popup__close-button {
  position: absolute;
  background: url('../../../images/close-button.svg') center no-repeat;
  top: -50px;
  right: -50px;
  height: 40px;
  width: 40px;
  font-size: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
  
.popup__close-button:hover {
  opacity: 0.6;
}
  
@media screen and (max-width: 540px) {
  .popup__close-button {
    top: -60px;
    right: 0px;
    zoom: 0.65;
  }
}